<div class="top-message"><%= "#{yield(:action)} Quiz" %></div>
<%= render 'quizzes/quiz_errors' %>
<%= form_for @quiz, remote: true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
    <div class="question-container">
        <%= f.fields_for :questions do |question_helper|%>
            <%= question_helper.label "Question #{question_helper.index + 1}" %>
            <%= question_helper.select :question_type, [["open ended", "open_ended"], ["select one", "select_one"], ["multiple choice", "multiple_choice"]], {}, class: "auto-update #{question_helper.index}"%>
            <%= question_helper.label 'Delete' %>
            <%= question_helper.check_box :_destroy %>
            <%= question_helper.text_field :contents %>
            <% question_type = @quiz.questions[question_helper.index].question_type %>
            <% if question_type != 'open_ended' && question_type != nil %>
              <div id="choice-container-<%= question_helper.index %>">
                <%= question_helper.fields_for :choices do |choice_helper|%>
                  <%= choice_helper.label "Option #{choice_helper.index+1}" %>
                  <%= question_helper.label 'Delete' %>
                  <%= choice_helper.check_box :_destroy,{},class: "auto-update" %>
                  <%= choice_helper.text_field :contents %>
                <% end %>
                <%= f.submit "Add Option to question #{question_helper.index + 1}" %>
              </div>
            <% end %>
        <% end %>
    </div>
  <%= f.submit 'Update Form', id: :update_list%>
  <%= f.submit 'Add Question'%>
  <%= f.submit %>
<% end %>