<div class="top-message"><%= "#{yield(:action)} Quiz" %></div>
<div class="form-container">
  <%= render 'quizzes/quiz_errors' %>
  <%= form_for @quiz, remote: true do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
      <div class="question-container">
          <%= f.fields_for :questions do |question_helper|%>
              <%= question_helper.label "Question #{question_helper.index + 1}" %>
              <%= question_helper.select :question_type, [["select one", "select_one"],["select multiple", "select_multiple"],["open ended", "open_ended"]], {}, class: "auto-update #{question_helper.index}"%>
              <%= question_helper.label 'Delete' %>
              <%= question_helper.check_box :_destroy,class: "auto-update" %>
              <%= question_helper.text_field :contents %>
              <% question_type = @quiz.questions[question_helper.index].question_type %>
              <% if question_type != 'open_ended' %>
                <div id="choice-container-<%= question_helper.index %>">
                  <%= question_helper.fields_for :answers do |choice_helper|%>
                    <%= choice_helper.label "Option #{choice_helper.index+1}" %>
                    <%= question_helper.label 'Delete' %>
                    <%= choice_helper.check_box :_destroy,class: "auto-update" %>
                    <%= choice_helper.text_field :contents %>
                  <% end %>
                  <div class="form-submit-button add-option" data-action="add-option" data-question-index="<%= question_helper.index %>">Add Option</div>
                </div>
              <% end %>
          <% end %>
      </div>
    <div class="form-submit-button" data-action="add-question">Add Question</div>
    <%= f.submit %>
  <% end %>
</div>
<script>
function formHash(){
  var formData = $("form").serializeArray();
  var data = {};
  $(formData).each(function(index, obj){
      data[obj.name] = obj.value;
  });
  return data;
}
function formUrl(){
  return $('form').attr('action');
}
function submitFormData(e){
  let formData = formHash();
  let clickedButton = $(e.toElement);
  let action = clickedButton.attr('data-action');
  formData['change-action'] = action;
  if(action == 'add-option'){
    formData['question-index'] = clickedButton.attr('data-question-index');
  }
  $.ajax({
  type: "POST",
  url: formUrl(),
  data: formData
  });
}
$(document).ready(function(){
  document.querySelectorAll('.form-submit-button').forEach(function(element){
    element.addEventListener('click', submitFormData)
  });
});
$('.auto-update').change(submitFormData);
</script>