<div class="top-message"><%= "#{yield(:action)} Quiz" %></div>
<div class="form-container">
  <%= render 'quizzes/quiz_errors' %>
  <%= form_for @quiz, remote: true do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label 'Top Section Name' %>
    <%= f.text_field :top_label %>
    <%= f.label 'Bottom Section Name' %>
    <%= f.text_field :bottom_label %>
    <%= f.label 'Right Section Name' %>
    <%= f.text_field :right_label %>
    <%= f.label 'Left Section Name' %>
    <%= f.text_field :left_label %>
      <div class="question-container">
          <%= f.fields_for :questions do |question_helper|%>
              <%= question_helper.label "Question #{question_helper.object.index + 1}" %>
              <%= question_helper.select :question_type, [["drop down", "drop_down"]], {}, class: "auto-update #{question_helper.object.index}"%>
              <%= question_helper.label "Question Axis" %>
              <%= question_helper.select :axis, [["#{@quiz.top_label} / #{@quiz.bottom_label}", 'Y'], ["#{@quiz.right_label} / #{@quiz.left_label}", "X"]], {}, class: "auto-update" %>
              <%= question_helper.hidden_field :index %>
              <div class="text-box-container">
                <%= question_helper.text_field :contents %>
                <%= render 'quizzes/delete_button', delete_button_params('question', question_helper.object.index) %>
              </div>
              <% unless question_helper.object.open_ended? %>
                <div id="choice-container-<%= question_helper.object.index %>">
                  <%= question_helper.fields_for :answers do |choice_helper|%>
                    <%=  debugger if choice_helper.object.index.nil? %>
                    <%= choice_helper.label "Option #{choice_helper.object.index+1}" %>
                    <%= choice_helper.select :value, question_helper.object.axis == 'X' ? [["#{@quiz.left_label} +2", 2], ["#{@quiz.left_label} +1", 1], ["No Movement-+0", 0],["#{@quiz.right_label} +1", -1], ["#{@quiz.right_label} +2", -2]] : [["#{@quiz.top_label} +2", 2], ["#{@quiz.top_label} +1", 1], ["No Movement-+0", 0], ["#{@quiz.bottom_label} +1", -1], ["#{@quiz.bottom_label} +2", -2]], {}, class: "auto-update" %>
                    <%= choice_helper.hidden_field :index %>
                    <div class="text-box-container">
                      <%= choice_helper.text_field :contents %>
                      <%= render 'quizzes/delete_button', delete_button_params('choice', question_helper.object.index, choice_helper.index) %>
                    </div>
                  <% end %>
                  <div class="form-submit-button add-option" data-action="add-option" data-question-index="<%= question_helper.object.index %>">Add Option</div>
                </div>
              <% end %>
          <% end %>
      </div>
    <div class="form-submit-button" data-action="add-question">Add Question</div>
    <%= f.submit %>
  <% end %>
</div>
<script>
function formHash(){
  var formData = $("form").serializeArray();
  var data = {};
  $(formData).each(function(index, obj){
      data[obj.name] = obj.value;
  });
  return data;
}
function formUrl(){
  return $('form').attr('action');
}
function submitFormData(e){
  formData = formHash();
  clickedButton = $(e.toElement);
  action = clickedButton.attr('data-action');
  formData['change-action'] = action;
  if(action == 'add-option'){
    formData['question-index'] = clickedButton.attr('data-question-index');
  }else if(action == 'delete-field'){
    key = clickedButton.attr('data-param-key');
    formData[key] = '1'; 
  }//checks if an element inside an svg was clicked
  else if(clickedButton.closest('svg').length == 1){
    clickedButton = clickedButton.closest('svg');
    key = clickedButton.attr('data-param-key');
    formData[key] = '1'; 
  }
  $.ajax({
  type: "POST",
  url: formUrl(),
  data: formData
  });
}
$(document).ready(function(){
  document.querySelectorAll('.form-submit-button').forEach(function(element){
    element.addEventListener('click', submitFormData)
  });
  document.querySelectorAll('.delete-button').forEach(function(element){
    element.addEventListener('click', submitFormData)
  });
  $('.auto-update').change(submitFormData);
});
</script>