<div class="form-container">
  <%= simple_form_for @response do |f| %>
    <div class="top-message"><%= @response.quiz.title %></div>
    <%= render 'responses/response_errors' %>
    <%= f.hidden_field :quiz_id %>
    <% @response.quiz.questions.each do |question| %>
    <%= f.label question.contents %>
    <%= render "responses/#{question.question_type}_input", question: question, f: f %>
    <% end %>
    <%= f.submit %>
  <% end %>
<div>