<div class="top-message"><%= link_to "<< Other Responses", quiz_responses_path(@response.quiz.id) if current_user.admin_user? %></div>
<h1 class="top-message">Quiz: <%= @response.quiz.title %></h1>
<div class="top-message">User: <%= link_to "#{@user.user_name}", user_path(@user.id)%></div> 
<div class="compass-notice">
  <div class="pointer-toggle-button">Click to hide/show pointer on compass</div>
</div>
<%= render 'responses/compass_result', quiz: @response.quiz %>
<style>
  .compass-pointer{
    top: <%= @chart_position['Y'] %>%;
    left:<%= @chart_position['X'] %>%;
  }
</style>
<script>
  $(".pointer-toggle-button").click(function (e) {
    $(".compass-pointer").toggle();
  });
</script>