<!DOCTYPE html>
<html>
  <head>
    <title>Compass Hub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# Adsense Link %>
    <script data-ad-client="ca-pub-9524739458985361" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/top_bar'%>
    <%= render 'layouts/alert'%>
    <div id="page-wraper">
      <%= yield %>
    </div>
  </body>
</html>
